/* ----------------- VARIABLES -----------------*/

:root {
    --MCOLOR: #435768;  /* Main color */
    --SCOLOR: white;    /* Secondary color */
}

/* ----------------- BODY -----------------*/

.graphMain {
    display: grid;
    flex-direction: row;
    grid-template-areas: 
    "filter graph1"                   
    "filter graph2";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 305px 1fr;  /* Width of the filter, 305 since the border is 5 and filter 300*/
}

/* ----------------- FILTER -----------------*/

.graphFilter {
    grid-area: filter;
    background-color: var(--SCOLOR);
    border-right: 5px solid black;
    height: calc(100vh - 80px);
}

.graphHeader {
    height: 60px;
    font-size: 2.5rem;
}

.graphFilterDataContainer {
    font-size: 1rem;
    padding: 0 0 0 1rem;
}

#graphSearchField {
    padding: 0 0 0 1rem;
}

#graphSearchField2 {
    padding: 0 0 0 1rem;
    width: 50px;
}

#graphStationSearchField[type="search"] {
    width: 200px; 
    height: 25px;
    padding: 8px; 
    border: 1px solid black; 
    border-radius: 3px; 
    background-color: #ebebeb;     /* Color for the searchfield */
    outline: none; 
    color: #000000;
}

#graphStationSearchField2[type="search"] {
    width: 70px; 
    height: 25px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px; 
    background-color: #ebebeb;     /* Color for the searchfield */
    outline: none; 
    color: #000000;
}


/* ----------------- GRAPHS -----------------*/

.graphBox1 {
    grid-area: graph1;
}

.graphBox1 h3 {
    padding: 1rem 0 0 8rem;
}

.graphBox2 {
    grid-area: graph2;
}

.graphBox2 h3 {
    padding: 1rem 0 0 8rem;
}

/* ----------------- OTHER -----------------*/

h3 {
    color: var(--MCOLOR);
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: 1rem 0 0.5rem 0;
}

.graphFilter p {
    font-size: 1.2rem;
    padding: 0.5rem 0 0 1rem;
    margin: 0;
    text-decoration: underline;
}

.graphSetWidthForButtons { /* Used to position the radio buttons */
    width: 120px;
    display: inline-block;
}